.pink-background {
  background-color: #f5f5f5;
}

.pink-color {
  color: #6a6765;
  font-family: sans-serif;
}

.pink-button-color {
  background: #cbabac;
}

.blue-background {
  background-color: #f6fbff;
}

.blue-color {
  color: #3476a6;
}

.blue-button-color {
  background: #235890;
}
