.ml-8{
   margin-left: 8px;
}

.ml-15{
    margin-left: 8px;
 }

 .box-yellow{
    width: 30px;
    background-color: yellow;
 }

 .bg-white-custom{
    width: 30px;
    background-color: white;
 }

 .img-owl{
   width: 400px !important;
   object-fit: fill;
 }